<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>OnTimely.icns</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>one.simonlm.OnTimely.calendar-subscription</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>webcal</string>
			</array>
		</dict>
	</array>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/masalaempire/OnTimely/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>arq+E6VMLhpc2TORd8YqTE334tUlpOv0SJ82kqt90rY=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableSystemProfiling</key>
	<false/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
</dict>
</plist>
